<header class="header-container">
  <!-- Left: Home Link -->
  <div class="left-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>

 <input
    type="text"
    class="search-input"
    placeholder="Search..."
    [(ngModel)]="searchQuery"
    (keyup.enter)="onSearch()"
  />

  </div>

  <!-- Right: User or Guest -->
  <div class="right-section">
    <!-- Logged-in User -->
    <div
      class="user-section"
      *ngIf="user; else guest"
      tabindex="0"
      (click)="toggleDropdown()"
    >
      <!-- <img
        [src]="defaultImage"
        alt="User"
        class="user-avatar"
        width="32"
        height="32"
      /> -->
<span class="user-name">{{ getUserInitial() }}</span>


      <div class="dropdown-menu" *ngIf="showDropdown">
        <a *ngIf="user.role === 'ADMIN'" routerLink="/admin/dashboard">Dashboard</a>
        <a (click)="goToProfile()">Profile</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>

    <!-- Guest View -->
    <ng-template #guest>
      <div class="guest-actions">
        <a class="btn login-btn" (click)="goToLogin()">Log in</a>
        <a class="btn register-btn" (click)="goToRegister()">Sign up</a>
      </div>
    </ng-template>
  </div>
</header>
