<!-- app.component.html -->
<div class="container">
  <header>
    <h1>C&W</h1>
    <p>c&w code</p>
  </header>

  <!-- Optional action button -->
  <!-- <button (click)="onClick()">C&W!</button> -->

  <nav class="nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/editor" routerLinkActive="active">Blog Editor</a>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
